footer {
    position: sticky;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

.footer-info {
    padding: 10px 8px 8px 8px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}
.joerio img {
    width: 80px;
    border-radius: 20px;
}
.socmed-card {
    display: inline-grid;
}
.socmed {
    display: inline-grid;
    align-items: center;
}
.socmed img {
    width: 26px;
    margin-left: 8px;
}

.copyright {
    padding: 8px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
